<h2>Questions</h2>

<% @questions.each do |question| %>
 <p>
  <%= link_to "Question #{question.id}", "/questions/#{question.id}"%>
  <span>
    <%=link_to "Link to #{question.id} with path helper ", question_path(id: question.id)%>
  </span>
  <span>
    <%=link_to "Another way to #{question.id} with path helper ", question_path(question.id)%>
  </span>
  <span>
    <%=link_to "One more way to #{question.id} with path helper ", question_path(question)%>
  </span>
</p>
<% end %>
