<h1>Question</h1>
<p><%= @question.body %></p>
<p>user_id: <%= @question.user_id %></p>
<p><%= link_to "All Questions", "/questions"%></p>
<p><%= link_to "All Questions using helper", questions_path%></p>
